<mat-card class="form">
    <div class="card-header">
        <h3 class="card-title">{{mode}} Customer</h3>
    </div>
    <div class="card-body">
        <form [formGroup]="form" autocomplete="off">
            <mat-horizontal-stepper [linear]="isLinear" #stepper>
                <mat-step [stepControl]="firstFormGroup" label="Customer Detail">
                    <div class="d-flex flex-wrap">
                        <div class="d-flex" *ngFor="let item of formCtrls[0]['items']" style="width:50%;height:75px;">
                            <div style="font-weight: 500;width: 30%;">
                                <span style="position: relative;top: 16px;">{{item['title']}}</span>
                            </div>
                            <div style="width: 60%;">
                                <mat-form-field appearance="outline" style="width: 100%;">
                                    <mat-label>{{item['title']}}</mat-label>
                                    <input matInput formControlName="{{item.id}}" placeholder="{{item.title}}">
                                    <mat-error *ngIf="form.controls[item.id].hasError('pattern')">
                                        Please enter a valid email address
                                    </mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex" style="padding-top: 20px;">
                        <div class="col-5"></div>
                        <div class="col-4">
                            <a  mat-raised-button color="accent" routerLink="/sales/customers">Back</a>&nbsp;
                            <button mat-raised-button color="primary" (click)="onNext('step1')">Next</button>
                        </div>
                    </div>
                </mat-step>
                <mat-step [stepControl]="secondFormGroup" label="Billing Address">
                    <div class="d-flex flex-wrap">
                        <div class="d-flex col-6" *ngFor="let item of formCtrls[1]['items']">
                            <div class="col-4" style="font-weight: 500;">
                                <span style="position: relative;top: 16px;">{{item['title']}}</span>
                            </div>
                            <div class="col-7">
                                <div class="input-group mb-3">
                                    <mat-form-field appearance="outline" style="width: 100%;height: 45px;">
                                        <mat-label>{{item['title']}}</mat-label>
                                        <input matInput formControlName="{{item.id}}" placeholder="{{item.title}}">
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex" style="padding-top: 65px;">                       
                            <div class="col-5"></div>
                            <div class="col-4">
                                <button mat-raised-button color="accent" matStepperPrevious>Back</button>&nbsp;
                               <button mat-raised-button color="primary" matStepperNext>Next</button>
                        </div>
                    </div>
                </mat-step>
                <mat-step>
                    <ng-template matStepLabel>Shipping Address</ng-template>
                    <div class="d-flex flex-wrap">
                        <div class="d-flex col-6" *ngFor="let item of formCtrls[2]['items']">
                            <div class="col-4" style="font-weight: 500;">
                                <span style="position: relative;top: 16px;">{{item['title']}}</span>
                            </div>
                            <div class="col-7">
                                <div class="input-group mb-3">
                                    <mat-form-field appearance="outline" style="width: 100%;height: 45px;">
                                        <mat-label>{{item['title']}}</mat-label>
                                        <input matInput formControlName="{{item.id}}" placeholder="{{item.title}}">
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="padding-top: 65px;">
                        <div class="col-5"></div>
                        <div class="col-4">
                            <button mat-raised-button matStepperPrevious style="margin-left: 10px;" color="accent">Back</button>&nbsp;
                            <button *ngIf="mode=='Add'" mat-raised-button color="primary" (click)="saveCustomer()">Submit</button>
                            <button *ngIf="mode=='Update'" mat-raised-button color="primary" (click)="updateCustomer()">Update</button>
                            
                        </div>
                    </div>
                </mat-step>
            </mat-horizontal-stepper>            
        </form>
    </div>
</mat-card>