<section class="content">
    <div class="container-fluid">
      <div class="row">
        <section class="col-lg-12">
          <div class="row">
            <div class="col-12">
              <div class="card">
                <div class="card-header">
                  <h3 class="card-title">All Customers</h3>
  
                  <div class="card-tools">
                    <div class="input-group input-group-sm">
                      <!-- <input type="text" name="table_search" class="form-control float-right" placeholder="Search"> -->
  
                      <div class="input-group-append">
                        <a class="btn btn-primary btn-xs" routerLink="/sales/new-customer">+ New</a>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- /.card-header -->
                <div class="card-body table-responsive p-0" style="height: 300px;">
                  <table class="table table-head-fixed text-nowrap">
                    <thead>
                      <tr>
                        <th>S.No.</th>
                        <th>Company Name</th>
                        <th>Name</th>
                        <th>Contact Person</th>
                        <th>Mobile No.</th>
                        <th>Billing Add.</th>
                        <th>Shiping Add.</th>
                        <th>Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let item of CustomerList;let i=index">
                        <td>{{i+1}}</td>
                        <td>{{item.CompanyName}}</td>
                        <td>{{item.CustomerName}}</td>
                        <td>{{item.ContactPersonName}}</td>
                        <td>{{item.CustomerPhone}}</td>
                        <td>{{item.BillingAddress}}</td>
                        <td>{{item.ShippingAddress}}</td>
                        <td>
                          <a routerLink="/sales/view-customer/{{item.Id}}"><i class="fas fa fa-eye"></i></a>
                         
                          <a style="margin-left: 10px;" routerLink="/sales/edit-customer/{{item.Id}}"><i class="fas fa fa-pen"></i></a>
                           <!-- <button class="btn btn-xs btn-flat btn-info" (click)="Edit_Click(item._id)">Edit</button> -->
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <!-- /.card-body -->
              </div>
              <!-- /.card -->
            </div>
          </div>
  
        </section>
      </div>
    </div>
  </section>
  