<mat-card class="form">
    <mat-card-header class="form-header" fxLayoutAlign="space-between center">
        <mat-card-title>All Customers</mat-card-title>
        <div style="width: 85%;text-align: right;">
          <a class="btn btn-primary btn-xs" style="text-align: right;" routerLink="/sales/new-customer">+ New</a>
        </div>
      </mat-card-header>
    <mat-card-content>
      <table class="table table-head-fixed text-nowrap">
        <thead>
          <tr>
            <th>S.No.</th>
            <th>Company Name</th>
            <th>Name</th>
            <th>Contact Person</th>
            <th>Mobile No.</th>
            <th>Billing Add.</th>
            <th>Shiping Add.</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of CustomerList;let i=index">
            <td>{{i+1}}</td>
            <td>{{item.CompanyName}}</td>
            <td>{{item.CustomerName}}</td>
            <td>{{item.ContactPersonName}}</td>
            <td>{{item.CustomerPhone}}</td>
            <td>{{item.BillingAddress}}</td>
            <td>{{item.ShippingAddress}}</td>
            <td>
              <a routerLink="/sales/view-customer/{{item.Id}}"><i class="fas fa fa-eye"></i></a>
             
              <a style="margin-left: 10px;" routerLink="/sales/edit-customer/{{item.Id}}"><i class="fas fa fa-pen"></i></a>
               <!-- <button class="btn btn-xs btn-flat btn-info" (click)="Edit_Click(item._id)">Edit</button> -->
            </td>
          </tr>
        </tbody>
      </table>
    </mat-card-content>
</mat-card>