<mat-card class="form">
    <mat-card-header class="form-header">
        <mat-card-title>Change Password</mat-card-title>
    </mat-card-header>
    <mat-card-content class="form-section" style="width: 400px; margin: 50px auto;">
        <form [formGroup]="form">
            <div class="row mb-3">
                <div class="col-4"><label class="lbl">Current Password</label></div>
                <div class="col-8">
                    <mat-form-field appearance="outline" style="width: 100%;height:55px;">
                        <mat-label>Current Password</mat-label>
                        <input formControlName="currentPassword" type="password" matInput placeholder="Current Password">
                    </mat-form-field>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-4"><label class="lbl">New Password</label></div>
                <div class="col-8">
                    <mat-form-field appearance="outline" style="width: 100%;height:55px;">
                        <mat-label>New Password</mat-label>
                        <input formControlName="newPassword" type="password" matInput placeholder="Current Password">
                    </mat-form-field>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-4"><label class="lbl">Confirm Password</label></div>
                <div class="col-8">
                    <mat-form-field appearance="outline" style="width: 100%;height:55px;">
                        <mat-label>Confirm Password</mat-label>
                        <input formControlName="confirmPassword" type="password" matInput placeholder="Current Password">
                    </mat-form-field>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-4"></div>
                <div class="col-8">
                    <button mat-raised-button color="primary" (click)="onClick">Update</button>
                </div>
            </div>
        </form>
    </mat-card-content>
</mat-card>